/* Sass up this code with nesting, & and variables */

/*
 * First option, using nesting and &
 */

$primary: blue;
$secondary: gray;
$danger: red;
$success: green;

.btn {
  background: none;
  transition: all 300ms;
  padding: 24px 32px;
  border-radius: 8px;
  &-primary {
    
    color: $primary;
    &:hover {
      //built in function in sass, darkens a color
      color: darken($primary, 10%); //btn-primary:hover {}
    }
  }

  &-secondary {
    color: $secondary;
    &:hover {
      color: darken($secondary, 10%);
    }
  }

  &-danger {
    color: $danger;
    &:hover {
      color: darken($danger, 10%);
    }
  }

  &-success {
    color: $success;
    &:hover {
      color: darken($success, 10%);
    }
  }
}

/*
 * Second option, using @extend
 */

%btn {
  background: none;
  transition: all 300ms;
  padding: 24px 32px;
  border: 1px solid currentColor;
  border-radius: 8px;
}

.btn-primary {
  @extend %btn;
  color: $primary;
}

.btn-secondary {
  @extend %btn;
  color: $secondary;
}

.btn-danger {
  @extend %btn;
  color: $danger;
}

.btn-success {
  @extend %btn;
  color: $success;
}
